.show-enter {
    opacity: 0;
}
.show-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.show-exit {
    opacity: 1;
}
.show-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
